- title "Modify Profile"

= simple_form_for @user, :url => user_registration_path, :html => { :class => "form-horizontal" } do |f|
  = devise_error_messages!

  %fieldset
    %legend Modify Profile
    = f.input :current_password, :hint => "Needed to confirm your changes."
    = f.input :email
    = f.input :name
    = f.button :submit, "Update Profile", :class => "btn btn-primary btn-large"
  
  %fieldset
    %legend Change Password
    = f.input :password, :hint => "(leave blank if you don't want to change it)"
    = f.input :password_confirmation
    = f.button :submit, "Update Profile", :class => "btn btn-primary btn-large"

%p
  Unhappy?
  = link_to "Cancel my account", user_registration_path, :confirm => "Are you sure?", :method => :delete

= link_to "Back", :back
