%table.table
  %thead
    %tr
      %th When
      %th Duration
      %th Where
      %th Name
  %tbody
    - @instances.each do |instance|
      %tr
        %td
          = instance.start_time.strftime('%m-%d')
          %br
          = instance.start_time.strftime('%H:%M')
        %td= instance.instructable.duration
        %td= instance.formatted_location
        %td= markdown_html instance.instructable.name
