<% title "Recover Password" %>
<h2>Forgot your password?</h2>

<%= simple_form_for(resource, :as => resource_name, :url => user_password_path, :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit "Send me reset password instructions", :class => "btn btn-primary btn-large" %></div>
<% end %>

<%= render "links" %>