- title 'Scheduling Conflicts'

- if @conflicts.size == 0
  %h2 No conflicts found.
- else
  %table#conflicts.table.table-striped
    %thead
      %tr
        %th Conflict Type
        %th Class Name
        %th Date and Time
        %th Duration
        %th Track
    %tbody
      - @conflicts.each do |conflict|
        - type, instances = conflict
        %tr
          %td
            - type.each do |specific_type|
              - field = @type_to_field_mapping[specific_type]
              %ul.inline
                %li
                  %span.label.label-important= specific_type
                %li
                  = instances[0].send(field)
          %td
            = instances[0].instructable.name
            %br
            = instances[1].instructable.name
          %td
            = instances[0].formatted_start_time
            %br
            = instances[1].formatted_start_time
          %td
            = instances[0].instructable.duration
            %br
            = instances[1].instructable.duration
          %td
            = instances[0].instructable.track
            %br
            = instances[1].instructable.track
