%tr
  %td= link_to(markdown_html(instructable.name), edit_proofreader_instructable_path(instructable))
  %td= instructable.track
  %td= instructable.formatted_culture_and_topic
  %td
    - if instructable.proofread_by.empty?
      %span.label.label-important Nobody
    - else
      - approval_list = User.where(id: instructable.proofread_by)
      %ol.unstyled
        - approval_list.each do |user|
          %li
            - if instructable.proofread?
              %span.label.label-success= user.best_name
            - else
              - if instructable.proofread_by.include?(current_user.id)
                %span.label.label-warning= user.best_name
              - else
                %span.label.label-important= user.best_name
