- title 'Sign In'

= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form-horizontal' }) do |f|
  %fieldset
    %legend Sign In
    = f.input :email, :label => 'Email'
    = f.input :password

    - if devise_mapping.rememberable?
      = f.input :remember_me, :as => :boolean

    = f.button :submit, 'Sign in', :class => 'btn btn-primary btn-large'

= render 'links'
