- title "Custom Schedule for #{@user.best_name}"

%h3= "Custom Schedule for #{@user.best_name}"

- if current_user and current_user.id == @user.id
  %p
    = link_to('Edit', edit_user_schedule_path(@user), class: 'btn')
    this schedule to add or remove classes.

  .alert.alert-info
    - if @user.schedule.published?
      Your schedule is accessible by others.  To disable this, click the
      edit button above and uncheck the "Publish Publicly" check box.
    - else
      To share your schedule with others, click the
      edit button above and check the "Publish Publicly" check box.

.alert.alert-info
  .row
    .col
      Other formats available!
  .row
    .col
      %dl.dl-horizontal
        %dt= link_to('PDF', user_schedule_path(@user, format: :pdf), class: 'btn', target: '_blank')
        %dd PDF file with class names, descriptions, times, and locations.
      %dl.dl-horizontal
        %dt= link_to('PDF (brief)', user_schedule_path(@user, format: :pdf, brief: true), class: 'btn', target: '_blank')
        %dd PDF file with just the class names, times, and locations.
      %dl.dl-horizontal
        %dt= link_to('Excel', user_schedule_path(@user, format: :xlsx), class: 'btn', target: '_blank')
        %dd A popular spreadsheet format.
    .col
      %dl.dl-horizontal
        %dt= link_to('iCalendar', user_schedule_path(@user, format: :ics), class: 'btn', target: '_blank')
        %dd
          A calendaring sharing format.  It's recommended you "subscribe" to this,
          rather than just download it once.
      %p
        For instructions on how to add the calendar to an iPhone (and perhaps other devices
        which work in a similar way), please check out the
        = link_to 'iPhone Calendar How-To', howto_path(:ios)
      %dl.dl-horizontal
        %dt= link_to('CSV', user_schedule_path(@user, format: :csv), class: 'btn', target: '_blank')
        %dd Comma separated values.  A very generic spreadsheet format compatible with most spreadsheet programs.

%table.table.table-striped#schedule
  %thead
    %tr
      %th.when When & Where
      %th.name Name
      %th.instructor Instructor
      %th.description Description
  %tbody
    - @instances.each do |instance|
      %tr
        %td
          - if instance.start_time
            = instance.start_time.strftime('%m-%d')
            %br
            = instance.start_time.strftime('%H:%M')
            %br
          = "#{instance.instructable.duration}&nbsp;hr".html_safe
          %br
          = instance.formatted_location
        %td= markdown_html instance.instructable.name
        %td= instance.instructable.titled_sca_name
        %td= markdown_html(instance.instructable.description_web.present? ? instance.instructable.description_web : instance.instructable.description_book)

%p.alert.alert-info Rendered: #{Time.now}
