- changelogs = instructable.changelogs
- changelogs.each do |changelog|
  %h5= changelog.created_at.to_s(:pennsic)
  %table.table#changelog-modal
    %thead
      %tr
        %th.field Field
        %th.old-value Old
        %th.new-value New Value
    %tbody
      - Changelog.decompose(changelog.changelog).sort.each do |field, changes|
        %tr
          %td= field
          - if changes[0].is_a?Array
            %td= changes[0].join(", ")
          - else
            %td= changes[0]
          - if changes[1].is_a?Array
            %td= changes[1].join(", ")
          - else
            %td= changes[1]
