%tr
  %td.delete_clicky
    = link_to 'Delete', user_instructable_path(instructable.user, instructable), confirm: "Are you sure you want to delete '#{instructable.name}'?", method: :delete, class: 'btn'
  %td= link_to(instructable.name, edit_user_instructable_path(instructable.user, instructable))
  %td= instructable.repeat_count
  %td
    = instructable.formatted_culture_and_topic
  %td= instructable.status_message
  %td
    - for instance in instructable.instances
      = instance.formatted_location_and_time
      %br
