- title 'Introduction'

%header#overview.jumbotron
  .hero-unit.opening-page
    %h1 Pennsic Events
    %p Pennsic #{Pennsic.year}: #{Pennsic.dates.first} through #{Pennsic.dates.last}

.row
  .col-sm.col-lg-4
    .pretty-box
      - unless user_signed_in?
        %p
          %a.btn.btn-primary{:href => new_user_session_path } Sign in
          or
          %a.btn.btn-primary{:href => new_user_registration_path } Sign up
        %p
          You only need to log in if you wish to make a customized schedule, teach a class, or schedule some event.
      - else
        %p
          Welcome, #{current_user.best_name}.

%section.marketing
  .row
    .col-md
      %h3 Instructors
      - if instructor?
        %p
          Thank you, #{current_user.titled_sca_name}, for sharing your knowledge.
        %p
          Use the buttons below to manage classes you are teaching,
          and update your instructor profile.  These are also available under
          the Instructor menu option near the top of the page.
        %p
          %a.btn{:href => user_instructables_path(current_user) } Your classes
          %a.btn{:href => edit_user_instructor_profile_path(current_user) } Update instructor profile
      - else
        %p
          Students come to Pennsic University classes to learn about a
          huge variety of topics.  Perhaps you have something to share?
        - if user_signed_in?
          %p
            If you wish to share your knowledge and teach at Pennsic, you
            must first create a profile.
          %p
            %a.btn{:href => new_user_instructor_profile_path(current_user) } Become an instructor
        - else
          %p
            Sign in or sign up to request to teach a class at Pennsic,
            or to manage those you are already teaching.
    .col-md
      %h3 Students
      - if user_signed_in?
        %p
          Create a schedule of just the classes you want to attend.
          Then, download this schedule in PDF to view or print.
          You can also download it into your calendar, for your computer
          or mobile device.
      - else
        %p
          Sign in or sign up to create a customized schedule of just the
          classes you wish to attend.
          Then, download this schedule in PDF to view or print.
          You can also download it into your calendar, for your computer
          or mobile device.
      %p
        You can also view or download the entire schedule.  These
        options are found in the Schedules menu item, near the top of the
        page.
