%tr
  %td= user.admin? ? "Yes" : "-"
  %td= user.coordinator? ? user.coordinator_tract : "-"
  %td
    - if user.instructor?
      = link_to(user.instructables.count, user_instructables_path(user))
      = " / "
      = user.instructables_session_count
    - else
      = "-"
  %td= user.display_name
  %td= pretty_date_from_now(user.current_sign_in_at)
