- create_or_update = @user.new_record? ? 'Create' : 'Update'
- title "#{create_or_update} University Class"

= simple_form_for @user, url: admin_user_path(@user), html: { :class => 'form-horizontal' } do |f|
  %fieldset
    %legend Editing #{@user.display_name}
    = f.input :email, label: 'Email address'
    = f.input :tracks, as: :check_boxes, collection: Instructable::TRACKS.keys.sort
    = f.input :admin
    = f.input :proofreader
    = f.input :pu_staff, label: 'Pennsic U Staff?'
    = f.input :mundane_name, label: 'Legal name', placeholder: 'Full name'

  - if @user.instructor?
    %fieldset
      %legend Instructor Profile
      = f.input :class_limit
      = f.input :sca_title, label: 'SCA title', hint: 'SCA title, if any', collection: User::TITLES, label_method: :titleize
      = f.input :sca_name, label: 'SCA name', hint: 'SCA name, up to 30 characters, without title', input_html: { maxlength: 30 }
      = f.input :kingdom, label: 'SCA kingdom', hint: 'SCA kingdom, if any', collection: User::KINGDOMS, label_method: :titleize
      = f.input :phone_number, placeholder: '+1 405.555.1212', hint: 'Pre-pennsic contact number.'
      = f.input :phone_number_onsite, placeholder: '+1 405.555.1212', hint: 'Cell or other on site contact number'

  = f.button :submit, "#{create_or_update} user", :class => 'btn btn-primary'
  = link_to 'Cancel', admin_users_path, :class => 'btn'
