%tr
  %td= link_to(instructable.name, edit_user_instructable_path(instructable.user, instructable))
  %td= instructable.track
  %td= instructable.repeat_count
  %td= instructable.formatted_culture_and_topic
  %td= instructable.approved? ? "Yes" : "No"
  %td
    %ol.unstyled
      - missing_instance_count = instructable.repeat_count - instructable.instances.count
      - counter = 0
      - instructable.instances.each do |instance|
        - counter += 1
        %li
          - if counter <= instructable.repeat_count
            - if instance.scheduled?
              %span.label.label-success= instance.formatted_location_and_time
            - else
              %span.label.label-important= instance.formatted_location_and_time
          - else
            %span.label.label-important= instance.formatted_location_and_time
      - (missing_instance_count).times do
        %li
          %span.label.label-important Unscheduled
