%tr
  %td= link_to(instructable.name, edit_user_instructable_path(instructable.user, instructable))
  %td= instructable.tract
  %td= instructable.repeat_count
  %td= instructable.formatted_culture_and_topic
  %td= instructable.approved? ? "Yes" : "No"
  %td
    - for instance in instructable.instances
      = instance.formatted_location_and_time
      %br
