= nav_bar fixed: :top, brand: application_name, responsive: true do
  = menu_group do
    = drop_down "Schedules" do
      = menu_item 'All: Text', calendars_path
      = menu_item 'All: PDF', calendars_path(format: :pdf), target: '_blank'
      = menu_item 'All: PDF (brief)', calendars_path(format: :pdf, brief: true), target: '_blank'
      = menu_item 'All: iCalendar', calendars_path(format: :ics)
      = menu_item 'All: Excel (spreadsheet)', calendars_path(format: :xlsx)
      = menu_item 'All: CSV (spreadsheet)', calendars_path(format: :csv)
      = menu_divider
      = drop_down "By Date" do
        - Instructable::CLASS_DATES.each do |date|
          = menu_item "Changes: #{date}", changelog_path(date)
          = menu_divider
      - if user_signed_in?
        = menu_item 'Custom Schedule', user_schedule_path(current_user)
      - else
        = menu_item 'Sign in to customize', new_user_session_path
      = menu_item 'Instructor List', instructors_path
  - if instructor?
    = drop_down "Instructor" do
      = menu_item 'Your classes', user_instructables_path(current_user)
    - if coordinator?
      = render :partial => 'coordinator/menu_additions'
    - if proofreader?
      = render :partial => 'proofreader/menu_additions'
  - if user_signed_in?
    = drop_down "Account" do
      = menu_item 'Change password', edit_user_registration_path
      - if current_user.needs_profile?
        = menu_item 'Update instructor profile', edit_user_instructor_profile_path(current_user)
      - else
        = menu_item 'Request to be an instructor', new_user_instructor_profile_path(current_user)
      = menu_item 'Sign out', destroy_user_session_path, :method => :delete
  - else
    = menu_item 'Sign in or Sign up', new_user_session_path
  - if admin?
    = render :partial => 'admin/menu_additions'
  %li.divider-vertical
  = menu_item 'About', '/about'
