%nav.navbar.navbar-toggleable-md.navbar-light.bg-faded.fixed-top{role: 'navigation'}
  %button.navbar-toggler{type: "button", data: {toggle: "collapse", target: "#navbar-collapse-1"}, aria: { controls: "navbar-collapse-1", expanded: "false", label: "Toggle navigation"}}
    %span.navbar-toggler-icon
  %a.navbar-brand{href: '/'}
    Thing
  .collapse.navbar-collapse#navbar-collapse-1
    %ul.navbar-nav
      %li.nav-item.dropdown
        %a.nav-link.dropdown-toggle#schedulesDropdown{:href => '#', :data => {:toggle => 'dropdown'}, aria: {haspopup: "true", expanded: "false"}}
          Schedules
        .dropdown-menu{aria: {labelledby: "schedulesDropdown"}}
          = link_to 'All: Text', calendars_path, class: "dropdown-item"
          = link_to 'All: PDF', calendars_path(format: :pdf), target: '_blank', class: "dropdown-item"
          = link_to 'All: PDF (brief)', calendars_path(format: :pdf, brief: true), target: '_blank', class: "dropdown-item"
          = link_to 'All: iCalendar', calendars_path(format: :ics), class: "dropdown-item"
          = link_to 'All: Excel (spreadsheet)', calendars_path(format: :xlsx), class: "dropdown-item"
          = link_to 'All: CSV (spreadsheet)', calendars_path(format: :csv), class: "dropdown-item"
          .dropdown-divider
          %h6.dropdown-header Custom Schedules
          - if user_signed_in?
            = link_to 'Custom Schedule', user_schedule_path(current_user), class: "dropdown-item"
          - else
            = link_to 'Sign in to customize', new_user_session_path, class: "dropdown-item"
          = link_to 'Instructor List', instructors_path, class: "dropdown-item"
      %li.nav-item.dropdown
        %a.nav-link.dropdown-toggle#changesDropdown{:href => '#', :data => {:toggle => 'dropdown'}, aria: {haspopup: "true", expanded: "false"}}
          Changes from Book
        .dropdown-menu{aria: {labbeledby: "changesDropdown"}}
          - Instructable::CLASS_DATES.each do |date|
            = link_to "Changes for #{date}", changelog_path(date), class: "dropdown-item"

      - if instructor?
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle#instructorDropdown{:href => '#', :data => {:toggle => 'dropdown'}, aria: {haspopup: "true", expanded: "false"}}
            Instructor
          .dropdown-menu{aria: {labbeledby: "instructorDropdown"}}
            = link_to 'Your classes', user_instructables_path(current_user), class: "dropdown-item"
      - if coordinator?
        = render :partial => 'coordinator/menu_additions'
      - if proofreader?
        = render :partial => 'proofreader/menu_additions'
      - if user_signed_in?
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle#accountDropdown{:href => '#', :data => {:toggle => 'dropdown'}, aria: {haspopup: "true", expanded: "false"}}
            Account
          .dropdown-menu{aria: {labbeledby: "accountDropdown"}}
            = link_to 'Change password', edit_user_registration_path, class: "dropdown-item"
            - if current_user.needs_profile?
              = link_to 'Update instructor profile', edit_user_instructor_profile_path(current_user), class: "dropdown-item"
            - else
              = link_to 'Request to be an instructor', new_user_instructor_profile_path(current_user), class: "dropdown-item"
        %li.nav-item= link_to 'Sign out', destroy_user_session_path, :method => :delete, class: 'nav-link'
      - else
        %li.nav-item= link_to 'Sign in or Sign up', new_user_session_path, class: 'nav-link'
      - if admin?
        = render :partial => 'admin/menu_additions'
      %li.divider-vertical
      %li.nav-item= link_to 'About', '/about', class: "nav-link"
