- title 'Pennnsic University Policies'

.row
  .col-10.push-1
    %p
      In order to teach a class for Pennsic University, you must read,
      understand, and agree to the following policies.
    %p
      If there are any questions about these policies, please contact the
      University Chancellor.

.row.policy-row
  .col-1= render partial: 'accept_button'
  .col-2.policy-title
    Pennsic University COVID-SAFE Policy
  .col-7.policy-body
    %p.policy-tldr
      Don't spread COVID at University! Take precautions!
    %p
      Masks will be required by students and teachers while in class tents.
    %p
      If students or teachers are unwilling to attend masked, then they must leave the tent. Do not hesitate to go to University point for backup in this situation.
    %p
      Unless there is inclement weather, the sides of all class tents should remain up/open for ventilation purposes whenever there are ANY people inside the tent.
    %p
      If you do not know how to properly fasten up the tent sides, please see University Point for a brief instruction.
    %p
      Teachers should maintain a minimum of SIX feet of distance while lecturing or performing in situations where masking is not possible, such as using a wind instrument, and replace their masks when able to do so.
    %p
      Hand wash stations will be made available at several points in the University areas. If the wash water or soap is empty on any wash station, please notify University Point so we can have it addressed. Attendees and teachers are requested to maintain good hand sanitation, so far as possible, to inhibit the spread of COVID, as well as other pathogens.

.row.policy-row
  .col-1= render partial: 'accept_button'
  .col-2.policy-title
    Pennsic University Merchant and Remuneration Policy
  .col-7.policy-body
    %p.policy-tldr
      Do not expect to make money for teaching Pennsic University classes. It is not a sales venue.
    %p
      Pennsic University is not a profit center or primarily an advertising venue for University Teachers.
    %p
      Pennsic University classes (classes registered and published in the “Thing”) are not booked and tracked for sales tax compliance or other such concerns generally overseen by the Merchants office.  Therefore, Pennsic Teachers shall not charge anything over expenses for materials or be given any compensation in exchange for teaching Pennsic University classes.
    %p
      Teachers may provide kits and materials for classes (at their cost, which can be collected during the class). They may provide loaner tools (and shared/loaner tools for hands on classes is strongly encouraged), or offer to provide tools and material through their merchant booth, but at no time should the teachers expect any students to pay teacher compensation to attend and reasonably participate in classes.
    %p
      All materials or tools for the class that must specifically be purchased in order to take the class must be clearly published in the description of the class, and the fee/costs clearly stated in the "fees" section of the class registration. If these materials or tools are of substantial cost to the students and are normally available at a Merchant Booth, such specific tools/materials must be purchased outside the University at a properly registered Merchant booth and taxes properly collected on the transactions.  There will be no exceptions.
    %p
      Failure to adhere to this policy will result in classes being cancelled. The teacher will be prevented from teaching again and reported to the Coopers for infraction of Merchant Rules.

.row.policy-row
  .col-1= render partial: 'accept_button'
  .col-2.policy-title
    Pennsic University Tent Use Policy
  .col-7.policy-body
    %p.policy-tldr
      University tents are
      %em only
      for classes. They should be kept clean and neat. Power, where available in tents, is not a public resource.
    %p
      Pennsic University tents may only be used for activities approved by the University Chancellor or other Pennsic senior staff as designated by the Chancellor.
    %p
      Pennsic University tents may not be reserved for private, individual, or household parties at any time.
    %p
      Sleeping or camping is prohibited in Pennsic University tents, except in cases of extreme emergency (i.e., a severe storm or other natural disaster) in which Pennsic staff have designated the University tents as a shelter point.
    %p
      Teachers are responsible for the condition and cleanliness of the tent when they have finished. If your class includes a process that may produce sharp fragments, splinters, or shards (including but not limited to woodworking or metalworking), you must devise a way to collect any sharp fragments from the tent at the end of your class to avoid the possibility of injury to others.
    %p
      Glass related classes must devise a way of collecting any fragments of broken glass from the tent interior to avoid the possibility of injury to others.
    %p
      While most tents have power outlets, the total amount of electrical power available to the University is limited. To prevent tripped circuits, electrical outlets in the tents should be used only for class-related activities (i.e., running a computer or projector for a lecture). Use of any equipment requiring significant power draw or running for longer than a normal class time (120 minutes, maximum) must be approved by the University Chancellor or designate.

.row.policy-row
  .col-1= render partial: 'accept_button'
  .col-2.policy-title
    Pennsic University Youth Policy
  .col-7.policy-body
    %p.policy-tldr
      In classes, youth under 12 need to bring supervision; youth over 12 are OK, as long as it is not an ‘adults only’ class or they get rowdy.  In private camps, all minors need to bring their legal guardian.
    %p
      Youth under 12 years of age must be accompanied at all times by a parent or responsible adult or teenager in all University venues. Unaccompanied minors 12 years or older may attend classes in University venues so long as the classes are not registered as "adults only" and they behave in a respectful attentive manner.
    %p
      In all University sponsored classes in private camps or merchant booths, all minors under 18 MUST be accompanied at all times by a parent or court appoint legal guardian. This category includes classes at "Touch the Earth" and Aethelmaerc Royal.
    %p
      No minors will be permitted in "Adults only" classes, with the exception of infants in arms at the Teacher's discretion.
    %p
      Pennsic University does not sponsor any "youth oriented" or "youth only” classes. All such classes are scheduled and overseen through Youth Point.
    %p
      Any questions or situations outside of this policy will be decided on a one by one basis as needed by University staff and/or the Mayor's Office.

.row.policy-row
  .col-1= render partial: 'accept_button'
  .col-2.policy-title
    Pennsic University Professional Standards of Practice Policy
  .col-7.policy-body
    %p
      If you are providing classes giving a period treatment of medical or legal issues within the historical context, that is a great thing and we strongly encourage such instruction. These classes are required, however, to preface the class session with a statement such as follows:
    %p
      .boxed-text
        "Pennsic University does not advocate the adoption of any diagnostic
        method or course of treatment not performed by properly licensed
        practitioners in accordance with modern world medical (or legal)
        standard of care. This class will present medically (or legally)
        significant information for purely informational purposes only.
        The University strongly recommends that you always inform, and
        obtain advice from, modern world medical (or legal) professionals before
        altering or starting any course of diagnosis or treatment (or
        engaging in any legal practice) based on this class."
    %p
      No class can be offered that can be reasonably be thought of as taking the place of licensed or otherwise certified caregivers or providers, whether it be as child care (in loco parentis), or as a source of modern world legal, medical or psychological advice. This policy is put in place with the advice and consent of the Mayor’s office and exists due to ongoing liability concerns.
    %p
      The University strongly encourages the study and research of period medical or legal practices. However, the University will not support or endorse any classes that may be reasonably considered to be practicing law or medicine or advocating the practice of law or medicine.  The line is drawn at anything that seems to be advocating, in our classes, any such period practices, offered in any way, such that they may be reasonably considered as standing in lieu of modern world medical or legal advice or giving medical treatment that is at variance with modern world standards of medical care. First-aid and other such classes offered by instructors shall have and be expected to show authoritative modern world certification to give such instruction.

.row.policy-row
  .col-1= render partial: 'accept_button'
  .col-2.policy-title
    Pennsic University Heat Source Policy
  .col-7.policy-body
    %p.policy-tldr
      Pre-approval is needed to use
      %em any
      heat sources - yes, even a candle – in any University tent, and special care needs to be taken to not damage the tents or tables or chairs.
    %p
      In Pennsic University heat sources can be used ONLY by pre-approval in a very limited number of tents.  This restriction does not apply to classes held in private encampments.
    %p
      If your class requires use of a heat source (including, but not limited to: candles, camp stoves, hot plates, charcoal burners, Sterno&trade; cans, propane torches), you must obtain prior approval from the University Chancellor or designate. This includes glass classes.  Failure to receive prior approval may result in not scheduling or the cancellation of your class.
    %p
      Classes using heat sources must move tables as far away from tent walls as possible to minimize the chance of damage to the canvas.
    %p
      Small open flame sources such as candles or Sterno&trade; cans must be placed on a fireproof surface to prevent damage to tabletops.
    %p
      Larger flame sources such as camp stoves or charcoal burners must be securely set on a level tabletop and make use of a flame shield/windbreak if available.
    %p
      Propane torches, such as those used for glass bead making, must be securely affixed to the edge of the table at all times, not hand-held or standing on the tabletop, and be pointed away from tent walls.  When working with hot glass, a heatproof surface must cover all tabletops to reduce the possibility of damage or fire.
    %p
      All active heat sources must be supervised at all times.

.row.policy-row
  .col-1= render partial: 'accept_button'
  .col-2.policy-title
    Pennsic University Publication Policy
  .col-7.policy-body
    %p.policy-tldr
      Only classes in Thing can be called Pennsic University classes. The University Staff will do its best to publish changes and additions in the best, most timely manner it can.
    %p
      Pennsic University does not endorse or support any classes that are not scheduled through Pennsic University and the "Thing". Pennsic University assumes no responsibility for any classes not registered through its official process. Any classes given by or through third parties or other entities are NOT part of the University.
    %p
      Every reasonable attempt to publish additions, deletions, and changes to the class list will be made, to the best of the Staff's abilities. Unfortunately, these attempts may not be perfectly satisfactory in all cases, especially for last minute and on-site changes.
    %p
      In all cases, the definitive list and schedule of classes will be in Thing. The On-site books, the schedule at University Point in binders, and the Pennsic Independent are not authoritative. "Thing" is the authoritative and most up to date resource.

.row.policy-row
  .col-1= render partial: 'accept_button'
  .col-2.policy-title
    Pennsic University Attendance and Signup List Policy
  .col-7.policy-body
    %p.policy-tldr
      Advance sign up sheets are not allowed. Materials/handouts, if any, will be distributed in first come, first served order when the class starts. People may still sit in on any class even if the teacher runs out of materials.
    %p
      There are no sign up lists anywhere before the class.  All classes are "first come, first served”, i.e.:  Kits and handouts should be provided in arrival order, where possible to determine. If it is not possible to determine arrival order, or there is unresolvable contention for a limited number of kits or handouts, a blind draw lottery is encouraged to select recipients.
    %p
      There are no class limits allowed, except for safety purposes.  Teachers may limit the number of handouts/materials/kits that they provide but classes may be attended by everyone who shows up, unless there is a safety consideration.
    %p
      To justify the enormous amount of resources used by the University, attendance in the main, numbered, University tents is tracked by the Pennsic University Staff.  Track Coordinators may choose to track attendance in outlying tents.

.row.policy-row
  .col-1= render partial: 'accept_button'
  .col-2.policy-title
    Pennsic University Tent Furniture Policy
  .col-7.policy-body
    %p.policy-tldr
      Tables and chairs belong in the tent they are tagged to. Performing Arts Tent’s chairs may not be borrowed by other tents. PA and University tent furniture cannot be used anywhere else. Outlying tents have no chairs.
    %p
      Chairs and tables are limited and they are tagged so everyone knows what tent they came from.  Tents and chairs may be borrowed to make up for higher than expected attendance, but
      MUST BE RETURNED AT THE END OF THE CLASS TO THEIR TAGGED TENT.
      Tell students to take the chairs back if they took them as there is no one else to do it.
    %p
      Because we have had problems in the past, remember that the chairs in the Performing Arts Tents are OFF LIMITS.  If you see a student borrowing from the PA tent, tell them to put it back.  Tables or chairs MAY NOT EVER be removed from the central University Area to anywhere outside the main University area without FIRST obtaining the direct and explicit permission and cooperation of the Chancellor.
    %p
      There are no tables and chairs in any outlying University tent (Battlefield, Kingdoms, Middle Eastern Dance, etc), except in the Performing Arts Rehearsal Tent. For all classes in the outlying tents, students will provide their own chairs. Class descriptions for such classes should have language to that effect added.

.row.policy-row
  .col-1= render partial: 'accept_button'
  .col-2.policy-title
    Pennsic University Tent Vehicle Use Policy
  .col-7.policy-body
    %p.policy-tldr
      Teachers may drop off class materials at the roadside from a motor vehicle, but must then move the vehicle to legal parking during the class.
    %p
      Privately-owned motorized vehicles may deliver goods such as class materials to the perimeter of the University grounds but cannot remain there for the duration of the class and must be removed immediately after delivery is made. There is no parking on University grounds. You may not drive inside the perimeter without prior approval from the Chancellor or designate.
    %p
      This does not apply to mobility aids or similar personal vehicles and handcarts. Where such vehicles are not the primary seating for the occupant/user, then they must be placed discretely out of main area of the tent to allow others to sit comfortably

.row.policy-row
  .col-1= render partial: 'accept_button'
  .col-2.policy-title
    Pennsic University Tent Weather Policy
  .col-7.policy-body
    %p.policy-tldr
      Use only the ropes provided to pull up the tent walls and use the quick release half-hitch knot when doing so  The last teacher of the day will pull the all the quick release knots and lower the walls before leaving the tent.
    %p
      Do not drop, unclip, or undo the sides of the tent to open it up for airflow or allow students to do it.  The weight of the walls on the tent roof is necessary for safety reasons.
    %p
      Pennsic University provides "brailing" ropes to raise the sides of each tent to allow airflow in hot weather. These are on the top of the walls with two lengths hanging down, one of which has a loop.  If your tent does not have enough tie points, notify University Point and we will bring more ties to the tent right away.
    %p
      Pennsic University asks that you use the correct "slipped Half Hitch” (similar to a bridle hitch knot or half of a shoe-tying knot) to tie up the sides.  If you don’t know how to do it, ask at the Point and staff will show you. It’s an easy knot that comes undone just by pulling one line. If you are unable to reach these lines, notify University Point so we can help.
    %p
      Do NOT unclip, roll up and re-clip the walls; try to tie up the sides of the tent using any other knot or lines; or undo any lines to the posts that secure the tent to the ground.
    %p
      In the event of a sudden storm or high winds, the tent sides must be down and in place to prevent the tents from blowing out and tearing. Pull the quick-release knots to lower the sides. When the storm is passed please raise the sides again. This is required for COVID Safety reasons.
    %p
      The Teacher for the last class scheduled in any tent is responsible for pulling all the quick-release knots when they leave so the tent is closed up.

- if @accept_needed
  .row
    .col-2
    .col-8
      By clicking, you indicate you have read, understand, and accept all Pennsic University
      policies.
      A copy of these policies will be sent to your email address.
      %br
      =form_tag('/policies/university/accept') do
        %button.btn#policy-accept-all-button{disabled: true} I agree to all policies
